.blue-border{
    border-right: 1px solid #B1B1B1;
    height: 100vh;
    padding: 20px 10px 0px 10px;
    position: fixed;
}
.blue-border1{
    border-bottom: 1px solid white;
    padding: 9px 0px;
}
.icon-s {
    font-size: 20px;
    padding: 16px 20px 16px 0px;
}
.dashboard-img{
    width: 120px;
    margin: 0 auto;
}
.icon-a{
    text-decoration: none;
    color: white;
}
.icon-p{
    color: white;
}
.icon-s:hover {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 20px 15px 0px;
    background-color: white;
    .icon-a{
        color: #1f41bb !important;
    }
    .icon-p{
        color: #1f41bb !important;
    }
}
.tre{
    gap: 2rem;
}
.bluey {
    background-color:#1f41bb;
}
.viewy {
    border: 1px solid #1f41bb;
    color: #1f41bb;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: white;
}
.viewy:hover {
    color: white;
    background-color: #1f41bb;
    transition: 0.3s;
    cursor: pointer;
}
.scroll {
    margin-left: 380px;
}
.filter {
    border: 1px solid #1f41bb;
    background-color: white;
    border-radius: 8px;
    color: #1f41bb;
}
.filter:hover {
    color: white;
    background-color: #1f41bb;
    transition: 0.3s;
    cursor: pointer;
}
@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 30% !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dashboard-img{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px;
    }
    .scroll{
        margin-left: 0px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dashboard-img{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .scroll {
        margin-left: 0px;
    }
}
