.bluey {
    background-color: #1F41BB;
}
.picturey {
    height: 550px;
    width: 450px;
    margin: 100px 50px;
}
.text1 {
    color: #1F41BB;
    line-height: 50px;
}
.parry {
    line-height: 35px;
    padding-top: 10px;
}
.buttony {
    padding-top: 20px;
}
.login1 {
    border-radius: 10px;
    border: 1px solid #1F41BB;
    background-color: #1F41BB;
    color: white;
    padding: 9px 25px;
}
.login1:hover {
    color: black;
    background-color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}
.register1 {
    border-radius: 10px;
    border: 1px solid #1F41BB;
    background-color: #1F41BB;
    color: white;
    padding: 9px 20px;
}
.register1:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.overall {
    width: 350px;
    margin: 0 auto;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .picturey {
        width: 550px;
    }
    .overall {
        width: 350px;
        margin: 220px auto;
    }
    .text1 {
        line-height: 60px;
    }
    .parry {
        line-height: 40px;
        padding-top: 20px;
    }
    .buttony {
        padding-top: 25px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .overall {
        width: 350px;
        margin: 220px auto;
    }
    .text1 {
        line-height: 60px;
    }
    .parry {
        line-height: 40px;
        padding-top: 20px;
    }
    .buttony {
        padding-top: 25px;
    }
}
