.bluey {
    background-color: #1F41BB;
}
.picturey {
    height: 550px;
    width: 450px;
    margin: 100px 50px;
}
.text1 {
    color: #1F41BB;
    line-height: 50px;
}
.parry {
    line-height: 35px;
    padding-top: 10px;
}
.parry1 {
    line-height: 30px;
    padding-top: 4px;
}
.buttony {
    padding-top: 20px;
}
.login1 {
    border-radius: 10px;
    border: 1px solid #1F41BB;
    background-color: #1F41BB;
    color: white;
    padding: 9px 25px;
}
.login1:hover {
    color: black;
    background-color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}
.register1 {
    border-radius: 10px;
    border: 1px solid #1F41BB;
    background-color: #1F41BB;
    color: white;
    padding: 9px 20px;
}
.register1:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.overall {
    width: 350px;
    margin: 0 auto;
}
.overall1 {
    width: 400px;
    margin: 80px auto;
}
input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1f41bb;
    outline: none;
    background-color: #F1F4FF;
}
.loginbtn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1f41bb;
    outline: none;
    background-color: #1F41BB;
    color: white;
    cursor: pointer;
}
.loginbtn:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.registerbtn {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #1f41bb;
    outline: none;
    background-color: #1F41BB;
    color: white;
    cursor: pointer;
}
.registerbtn:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}
.register2 {
    text-decoration: none;
}
.register2:hover {
    text-decoration: underline;
}
.login2 {
    text-decoration: none;
}
.login2:hover {
    text-decoration: underline;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .picturey {
        width: 550px;
    }
    .overall {
        width: 350px;
        margin: 150px auto;
    }
    .text1 {
        line-height: 60px;
    }
    .parry {
        line-height: 40px;
        padding-top: 20px;
    }
    .buttony {
        padding-top: 25px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .overall {
        width: 350px;
        margin: 150px auto;
    }
    .text1 {
        line-height: 60px;
    }
    .parry {
        line-height: 40px;
        padding-top: 20px;
    }
    .buttony {
        padding-top: 25px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .overall1 {
        width: 300px;
        margin: 60px auto;
        /* text-align: center; */
    }
}
